.ListItem {
    &-container {
        margin-bottom: 1rem;
        padding: 5px;
    }
    &-container:hover {
        background-color: mix(white, #4fc3f7, 90);
        border-radius: 0.5rem;
    }

    &-itemInListHeading {
        font-size: 140%;
    }
    &-itemInListHeading:hover {
        cursor: pointer;
    }
    &-buttonsBlock {
        padding-left: 10.5px;
    }
    @media only screen and (min-device-width: 600px) {
        &-buttonsBlock {
            min-width: 165px;
            button {
                margin-right: 5px;
            }
        }
    }
    @media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
        &-buttonsBlock {
            width: 7rem;
            button {
                padding: 1px;
                width: 34px;
                margin-right: 5px;
            }
        }
    }
}
