.Home {
    @media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
        &-container {
            font-size: 75%;
            .isDesktop {
                display: none;
            }
        }
    }
    @media only screen and (min-device-width: 600px) {
        &-container {
            .isMobile {
                display: none;
            }
        }
    }

    &-editHeadingIcon {
        color: gray;
        font-size: 12px;
        vertical-align: super;
        padding-left: 5px;
        cursor: pointer;
    }

    &-headingInput {
        width: 95% !important;
    }

    &-saveHeadingIcon {
        vertical-align: middle;
        cursor: pointer;
    }

    &-tableHeading {
        font-weight: 700;
    }

    @media only screen and (min-device-width: 320px) and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
        &-sortingArrow {
            display: none;
        }
    }

    &-columnHeading {
        i {
            position: relative;
            top: 3px;
        }
    }
}
