.SearchDropdown {
    &-optionsContainer {
        position: absolute;
        background-color: white;
        z-index: 99;
        border: 1px solid lightgray;
        border-radius: 3px;
    }
    &-option {
        padding: 10px 15px;
        &:hover {
            background-color: lightgray;
            cursor: pointer;
        }
    }
    &-error {
        padding: 10px 15px;
        color: #EF9A9A;
    }
}
