.ListItemDetails {
    &-itemDetailsContainer {
        margin-bottom: 1rem;
        .row {
            margin-bottom: -0.6rem;
        }
    }
    &-hideDetails {
        text-align: right;
        font-size: 1.5rem;
        font-weight: 300;
        font-stretch: 200%;
        position: relative;
        top: 2rem;
        margin-top: -1.5rem;
        cursor: pointer;
    }
    &-poster {
        max-width: 100%;
    }
    &-itemHeading {
        margin-top: 0;
    }
    &-itemDetailsText {
        margin-bottom: 0.5rem;
    }
    &-itemDetailsTextLegend {
        font-weight: 700;
    }
}
